.content{
    flex: 1;
}
.content .choises {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 5px;
}
.content .choises .choise {
    background-color: white;
    padding: 15px 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 20%)
}
.content .choises .choise:first-child {
    border-right: transparent;
}
.content .choises .choise:last-child{
    border-left: transparent;
}
.choises .choise button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    cursor: pointer;
}